	<footer class="footer">
      <div class="container">
	        <p><a href="/api/tables">API Table Link</a> | <a href="/api/waitlist">API Wait List</a> | <a href="https://github.com/afhaque/HotRestaurant">GitHub Repo</a></p>
      </div>
    </footer>

	</div>

	
</body>
</html>